.form-control
{
    width: 260px;
}

span
{
    color:black;
    font-weight: bold;
    font-family: 'Jua', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Great Vibes', cursive;
font-size:15px;
letter-spacing: 2px;
word-spacing: 3px;
}
label
{
    font-family: 'Jua', sans-serif;
font-family: 'Pacifico', cursive;
letter-spacing: 2px;
word-spacing: 3px;

}

input
{
    text-align: center;
    font-family: 'Jua', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Kaushan Script', cursive;
letter-spacing: 2px;
word-spacing: 3px;
}